main {
    font-family: 'Verdana', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

button, input, select {
    font-size: 1em;
}

button {
    padding: 0.25rem 1rem;
}

input, select {
    padding: 0.25rem;
}

.input-error {
    color: #be1f1f;
    font-size: 0.85em;
}

.title {
    font-size: 1.45em;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.center-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    & > .form {
        padding: 1rem;
        background-color: #d1e5e9;
        border-radius: 3px;
        border: 1px solid #93b5c5;
        display: inline-block;

        .input-controls {
            padding: 0.25rem;
            margin: 0 0 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            & > .input-error {
                flex-basis: 100%;
                text-align: right;
                margin-top: 0.25rem;
            }

            & > label {
                margin: 0 0.25rem 0 0;
                min-width: 125px;
                display: inline-block;
                margin-right: 1.5rem;
            }
            
            & > input[type="checkbox"] ~ label {
                margin-left: 0.25rem;
            }
            
            & > select {
                min-width: 225px;
            }
        }

        & > .actions {
            display: flex;
            justify-content: center;
        }

        & ~ button {
            margin-top: 1rem;
        }
    }
}
